AddType application/javascript .js
AddType text/css .css
AddType image/png .png
AddType image/jpeg .jpg .jpeg
AddType image/gif .gif
AddType image/svg+xml .svg
AddType image/webp .webp
AddType image/x-icon .ico 